# Directories
umatl/
hachimi-tl-en/
.venv/
slop/
raw_umatl/
New folder/

# Excel exports
*.xlsx
~$*.xlsx

# codex session information
codex.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
